USE [master]
GO
/****** Object:  Database [QuanLyQuanCafe]    Script Date: 12/10/2021 11:50:48 PM ******/
CREATE DATABASE [QuanLyQuanCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyQuanCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyQuanCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyQuanCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyQuanCafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyQuanCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyQuanCafe]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 12/10/2021 11:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [nvarchar](10) NOT NULL,
	[TenBan] [nvarchar](10) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12/10/2021 11:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [nvarchar](10) NOT NULL,
	[ChucVu] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 12/10/2021 11:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [nvarchar](10) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/10/2021 11:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaBan] [nvarchar](10) NOT NULL,
	[MaMon] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[TongTien] [int] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 12/10/2021 11:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MaMon] [nvarchar](10) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[MaDanhMuc] [nvarchar](10) NOT NULL,
	[Gia] [int] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/10/2021 11:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[MaCV] [nvarchar](10) NOT NULL,
	[NamSinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[Luong] [int] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinDangNhap]    Script Date: 12/10/2021 11:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinDangNhap](
	[username] [nvarchar](10) NOT NULL,
	[password] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_Thongtindangnhap] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TrangThai]) VALUES (N'B01', N'Bàn 1', 1)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TrangThai]) VALUES (N'B02', N'Bàn 2', 0)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TrangThai]) VALUES (N'B03', N'Bàn 3', 0)
GO
INSERT [dbo].[ChucVu] ([MaCV], [ChucVu]) VALUES (N'CV01', N'Quản lý')
INSERT [dbo].[ChucVu] ([MaCV], [ChucVu]) VALUES (N'CV02', N'Thu ngân')
INSERT [dbo].[ChucVu] ([MaCV], [ChucVu]) VALUES (N'CV03', N'Phục vụ')
GO
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (N'01', N'Cà phê')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (N'02', N'Trà sữa')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (N'03', N'Nước ép')
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaMon], [SoLuong], [TrangThai], [TongTien]) VALUES (N'HD01', N'B03', N'M001', 2, 1, 30000)
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaMon], [SoLuong], [TrangThai], [TongTien]) VALUES (N'HD02', N'B03', N'M002', 2, 1, 24000)
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaMon], [SoLuong], [TrangThai], [TongTien]) VALUES (N'HD03', N'B06', N'M004', 1, 1, 25000)
GO
INSERT [dbo].[Menu] ([MaMon], [TenMon], [MaDanhMuc], [Gia]) VALUES (N'M001', N'Cà phê sữa', N'01', 15000)
INSERT [dbo].[Menu] ([MaMon], [TenMon], [MaDanhMuc], [Gia]) VALUES (N'M002', N'Cà phê', N'01', 12000)
INSERT [dbo].[Menu] ([MaMon], [TenMon], [MaDanhMuc], [Gia]) VALUES (N'M003', N'Sinh tố bơ', N'04', 20000)
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MaCV], [NamSinh], [GioiTinh], [DiaChi], [SoDienThoai], [Luong]) VALUES (N'NV01', N'Nguyễn Thị Anh Thư', N'CV01', CAST(N'2000-04-11' AS Date), N'Nữ', N'Nguyễn Văn Linh, Cần Thơ', N'0911513973', 10000000)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MaCV], [NamSinh], [GioiTinh], [DiaChi], [SoDienThoai], [Luong]) VALUES (N'NV02', N'Trần Thúy Vy', N'CV02', CAST(N'2000-12-30' AS Date), N'Nữ', N'Nguyễn Văn Linh, Cần Thơ', N'0987654321', 6000000)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MaCV], [NamSinh], [GioiTinh], [DiaChi], [SoDienThoai], [Luong]) VALUES (N'NV03', N'Phạm Lê', N'CV03', CAST(N'2000-01-01' AS Date), N'Nam', N'Cần Thơ', N'0123456789', 6000000)
GO
INSERT [dbo].[ThongTinDangNhap] ([username], [password], [MaNV], [role]) VALUES (N'Admin', N'admin', N'NV01', 1)
INSERT [dbo].[ThongTinDangNhap] ([username], [password], [MaNV], [role]) VALUES (N'NV02', N'2', N'NV02', 0)
INSERT [dbo].[ThongTinDangNhap] ([username], [password], [MaNV], [role]) VALUES (N'NV04', N'4', N'NV04', 0)
GO
USE [master]
GO
